<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/lib/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/concat.css">
</head>

<body>
    <%- include("header/head.ejs") %>

    <div class="panel panel-primary">
        <!-- 头部 -->
        <div class="panel-heading">
            <h3 class="panel-title">会话列表</h3>
        </div>
        <div class="panel-body">
            <div class="box">
                <!-- 左边列表 -->
                <div class="concat_left">
                    <h4 class="head_user">联系人</h3>
                        <ul class="concat_list" id="user-list">
                            <!-- <li class="concat_list_user">客户1</li>
                            <li class="concat_list_user">客户2</li> -->
                        </ul>
                </div>
                <!-- 右边内容 -->
                <div class="concat_right">
                    <h3 class="username">
                        </h4>
                        <!-- 消息框 -->
                        <div class="concat_box"> 
                            <!-- <div class="msg server_msg"><sapn>小程序</sapn>
                            </div>
                            
                            <div class="msg user_msg"><span>客服</span></div> -->
                            
                            
                        </div>
                        <!-- 控制框 -->
                        <div class="send_box">
                            <!-- 上方控制区域 -->
                            <div class="util">
                                <div>
                                    <svg class="emoji" t="1585916600080" class="icon" viewBox="0 0 1024 1024"
                                        version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2505" width="20"
                                        height="20">
                                        <path
                                            d="M510.944 960c-247.04 0-448-200.96-448-448s200.992-448 448-448 448 200.96 448 448-200.96 448-448 448z m0-832c-211.744 0-384 172.256-384 384s172.256 384 384 384 384-172.256 384-384-172.256-384-384-384zM512 773.344a286.4 286.4 0 0 1-226.912-110.624 32 32 0 1 1 50.4-39.424A222.784 222.784 0 0 0 512 709.344a222.56 222.56 0 0 0 177.664-87.552 32 32 0 1 1 50.752 38.976A286.112 286.112 0 0 1 512 773.344zM368 515.2a48 48 0 0 1-48-48v-64a48 48 0 1 1 96 0v64a48 48 0 0 1-48 48z m288 0a48 48 0 0 1-48-48v-64a48 48 0 1 1 96 0v64a48 48 0 0 1-48 48z"
                                            p-id="2506"></path>
                                    </svg>
                                    <svg class="img" t="1585917317643" class="icon" viewBox="0 0 1024 1024"
                                        version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1148" width="20"
                                        height="20">
                                        <path
                                            d="M64 160v704h896V160z m64 64h768v444.992l-168.992-169.984-23.008-23.008-144.992 144.992-184-185.984-23.008-23.008-224 224z m640 64a63.968 63.968 0 1 0 0 128 63.968 63.968 0 1 0 0-128z m-416 215.008L646.016 800H128v-72.992z m352 64l192 192V800h-159.008l-132.992-134.016z"
                                            p-id="1149"></path>
                                    </svg>

                                    <svg class="up_file" t="1585917613080" class="icon" viewBox="0 0 1024 1024"
                                        version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1203" width="20"
                                        height="20">
                                        <path
                                            d="M768 955.733333c-15.598933 0-30.685867-1.553067-44.868267-4.608a170.581333 170.581333 0 0 1-33.774933 4.590934L170.666667 955.733333c-66.030933 0-102.4-36.369067-102.4-102.4V341.333333c0-4.420267 1.6896-8.465067 4.4544-11.485866l0.017066-0.017067a7.9872 7.9872 0 0 1 0.529067-0.546133l256-256 1.006933-0.938667s0-0.034133 0.017067-0.017067l0.034133-0.034133a16.9472 16.9472 0 0 1 10.257067-3.9936c0.3072-0.034133 0.580267 0 0.887467-0.034133H682.666667c66.030933 0 102.4 36.369067 102.4 102.4v410.282666c44.475733 3.6352 83.217067 21.691733 115.319466 53.8112C937.1136 671.453867 955.733333 716.288 955.733333 768c0 51.746133-18.653867 96.341333-55.4496 132.488533C864.3584 937.0624 819.7632 955.733333 768 955.733333z m-40.925867-38.7072c12.7488 3.037867 26.504533 4.573867 40.925867 4.573867 42.871467 0 78.2336-14.7968 108.1344-45.243733C906.8032 846.2336 921.6 810.8544 921.6 768c0-42.939733-14.830933-78.609067-45.346133-109.1072C846.318933 628.957867 810.922667 614.4 768 614.4c-42.973867 0-78.677333 14.574933-109.192533 44.5952C628.974933 689.322667 614.4 725.026133 614.4 768c0 42.9056 14.557867 78.301867 44.4928 108.253867 19.899733 19.882667 42.8544 33.604267 68.181333 40.772266zM102.4 358.4v494.933333c0 47.223467 21.0432 68.266667 68.266667 68.266667h488.925866a205.858133 205.858133 0 0 1-24.832-21.213867C598.596267 864.221867 580.266667 819.677867 580.266667 768c0-51.643733 18.295467-96.426667 54.408533-133.137067 32.768-32.238933 71.765333-50.2784 116.258133-53.9136V170.666667c0-47.223467-21.0432-68.266667-68.266666-68.266667H358.4v238.933333a17.066667 17.066667 0 0 1-17.066667 17.066667H102.4z m24.132267-34.133333H324.266667V126.532267L126.532267 324.266667zM768 870.4a17.066667 17.066667 0 0 1-17.066667-17.066667v-129.467733l-56.200533 56.200533a17.0496 17.0496 0 1 1-24.132267-24.132266l85.333334-85.333334 0.034133-0.034133a17.066667 17.066667 0 0 1 10.888533-4.932267h0.034134a17.408 17.408 0 0 1 3.259733 0.1024h0.034133a16.9984 16.9984 0 0 1 9.966934 4.949334l85.248 85.248a17.0496 17.0496 0 1 1-24.132267 24.132266L785.066667 723.8656V853.333333a17.066667 17.066667 0 0 1-17.066667 17.066667z"
                                            p-id="1204"></path>
                                    </svg>
                                </div>
                            </div>
                            <!-- 输入框 -->
                            <div class="input_msg" id="input_msg">
                                <textarea name="user_content" id="user_content" cols="" rows="3"
                                    class="user_content"></textarea>
                            </div>
                            <!-- 发送按钮 -->
                            <div class="send_btn" id="send_btn">
                                <button>发送</button>
                            </div>


                        </div>

                        <!-- 输入为空提示 -->
                        <div class="input_tips" id="input_tips">
                            输入不能为空！
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/lib/boostrap/js/bootstrap.min.js"></script>
    <script src="/lib/wsSocket/wsClient.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->

    <script src="/javascripts/concat.js"></script>
</body>

</html>